* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Space Grotesk", serif;
}

html {
    scroll-behavior: smooth;
}

#header,
#about-us,
#banner,
#education,
#form,
#recent-project,
#skills {
    width: 100%;
    float: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/* header section start here  */


header {
    width: 100%;
    float: left;
    padding: 20px 0;
    background: linear-gradient(90deg, #07233B 1.67%, #041D34 39.95%, #04192D 58.24%, #040E18 80.28%, #050C16 101.48%);
    border-bottom: 2px solid #ffffff;
}

.header-row {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.header-left {
    width: 20%;
    float: left;
}

.logo {
    width: 150px;
    overflow: hidden;
}

.logo img {
    max-width: 100%;
    width: 100%;
}

.header-right {
    width: 80%;
    float: left;
}

.navbar-nav {
    width: 100%;
    float: left;
    display: flex;
    gap: 25px;
    justify-content: end;
    align-items: center;
}


.navbar-nav li:nth-child(2) {
    border-bottom: 2px solid #fff !important;
}

.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    transition: .4s;
    font-weight: 500;
    position: relative;
}

.navbar-nav li a:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 3px;
    bottom: -3px;
    left: 0;
    right: 0;
    background: #0788FF;
    transition: .3s;
}

.navbar-nav li a:hover:after {
    width: 100%;
}

.navbar-nav li a:hover {
    color: #0788FF;
}

.close {
    width: 35px;
    height: 35px;
    display: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

.close i {
    font-size: 20px;
    color: #fff;
}

.open {
    width: 35px;
    height: 35px;
    display: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

.open i {
    font-size: 20px;
    color: #fff;
}

i.bi.bi-mic {
    font-size: 18px;
    margin-left: 5px;
}

.main-button {
    font-size: 16px;
    color: #fff;
    background: #0788FF;
    border: 2px solid #0788FF;
    padding: 15px 30px;
    border-radius: 30px;
    margin-left: 30px;
    font-weight: 500;
    transition: .4s;
    overflow: hidden;
    position: relative;
}

.main-button a {
    color: #fff;
}

.main-button:hover {
    background: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    color: #0788FF;
}

/* banner section start here  */


.banner {
    width: 100%;
    float: left;
    padding: 50px 0;
    background: #051f36;
}

.banner-row {
    width: 100%;
    float: left;
}

.banner-left {
    width: 50%;
    float: left;
}

.b-l-cont {
    width: 100%;
    float: left;
}

.b-l-cont h6 {
    background: rgb(7 136 255 / 20%);
    border-radius: 4px;
    padding: 5px 12px;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.b-l-cont h1 {
    color: #fff;
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
}

.b-l-cont p {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}

.nerdy-pen__text {
    color: #0788FF;
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.b-l-cont .main-button {
    margin: 0;
}

.b-l-cont .main-button a {
    color: #fff;
}

.b-l-cont .main-button i {
    margin-left: 10px;
    font-size: 20px;
    transition: .4s;
}

.b-l-cont .main-button:hover i {
    transform: scale(1.4);
}

.banner-right {
    width: 50%;
    float: left;
}

.b-r-image {
    width: 100%;
    height: 400px;
    float: left;
}

.b-r-image img {
    width: 100%;
    object-fit: contain;
}

/* education section start here  */

.education {
    width: 100%;
    float: left;
    padding: 50px 0;
    background: #05294a;
}

.education-row {
    width: 100%;
    float: left;
}

.education-left {
    width: 50%;
    float: left;
}

.edu-left-con {
    width: 100%;
    float: left;
}

.edu-l-box {
    width: 100%;
    float: left;
    padding: 0 30px 30px;
    position: relative;
}

.edu-l-box:after {
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 1px;
    background: #ffffff1a;
}

.edu-l-box:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: -7px;
    top: 25px;
    background: #0788FF;
    border-radius: 50%;
}

.edu-l-box-icon {
    width: 15%;
    float: left;
}

.box-i-inner {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background: #0788ff50;
}

.box-i-inner i {
    font-size: 30px;
    color: #fff;
}

.edu-l-box-cont {
    width: 85%;
    float: left;
}

.edu-l-box-cont p {
    font-size: 20px;
    color: #0788FF;
    font-weight: 800;
}

.edu-l-box-cont h4 {
    font-size: 25px;
    color: #fff;
    font-weight: 800;
    line-height: 40px;

}

.edu-l-box-cont span {
    font-size: 17px;
    line-height: 20px;
    color: rgb(221 221 221);
}


/* about us section start here */

.about-us {
    width: 100%;
    float: left;
    padding: 100px 0;
    background: linear-gradient(90deg, #07233B 1.67%, #041D34 39.95%, #04192D 58.24%, #040E18 80.28%, #050C16 101.48%);
}

.about-row {
    width: 100%;
    float: left;
}

.about-left {
    width: 50%;
    float: left;
}

.about-l-img {
    width: 100%;
    float: left;
    padding: 0 30px 0 100px;
    position: relative;
    z-index: 2;
}

.circle-img {
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: -1;
    left: 25px;
    bottom: -67px;
}

.about-l-img img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #97a1ab;
}

.circle-img img {
    border: none;
}

.about-l-img img:first .about-right {
    width: 50%;
    float: left;
}

.about-right {
    width: 50%;
    float: left;
}

.about-r-con {
    width: 100%;
    float: left;
    padding-right: 150px;
}

.about-r-con h6 {
    background: rgb(7 136 255 / 20%);
    border-radius: 4px;
    padding: 5px 12px;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-r-con h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.about-r-con p {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 30px;
}

.about-r-con .main-button {
    margin: 0;
}

.about-r-con .main-button i {
    transition: .4s;
    margin-left: 5px;
}

.about-r-con .main-button:hover i {
    margin-left: 10px;
}

/* recent-project section start  */

.recent-project {
    width: 100%;
    float: left;
    background: #05294a;
    padding: 80px 0;
}

.recent-row {
    width: 100%;
    float: left;
}

.main-heading {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}


.main-heading h6 {
    background: rgb(7 136 255 / 20%);
    border-radius: 4px;
    padding: 5px 12px;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main-heading h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.project-row {
    width: 100%;
    float: left;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-box {
    width: 33%;
    float: left;
    padding: 10px;
    padding-bottom: 20px;
}

.p-box {
    width: 100%;
    float: left;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
}

.box-con-img {
    width: 100%;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.p-box:hover img {
    transform: scale(1.2);
    filter: brightness(0.5);
}

.box-con-img img {
    width: 100%;
    float: left;
    transform: scale(1);
    transition: .4s;
}

.img-bot-con {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.img-bot-con h5 {
    font-weight: 700;
    color: #000;
    font-size: 20px;
    font-weight: 20px;
    margin: 0 0 5px;
}

.img-bot-con p {
    font-size: 14px;
    color: #707476;
}

.img-bot-con div a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    background: #0788FF;
    border: 2px solid #000;
    border-radius: 50%;
    transition: .4s;
}

.img-bot-con div a:hover {
    background: #000;
}

.img-bot-con div a i {
    font-size: 20px;
    line-height: 43px;
    color: #fff;
}


/* skills section start from here  */

.skill {
    width: 100%;
    float: left;
    background: linear-gradient(90deg, #07233B 1.67%, #041D34 39.95%, #04192D 58.24%, #040E18 80.28%, #050C16 101.48%);
    padding: 100px 0;
    padding-bottom: 50px;
}

.skills-row {
    width: 100%;
    float: left;
}

.skills-row .main-heading {
    text-align: center;
}

.skills-main-row {
    width: 100%;
    float: left;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-boxes {
    margin-bottom: 50px;
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-box {
    width: 125px;
    float: left;
    height: 125px;
    padding: 40px;
    background: #07233b;
    border-radius: 50%;
    transition: .9s;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #c5c5c53b inset;
}

.skill-box:hover {
    box-shadow: 0 0 5px #ffffff92;
    transform: rotateY(360deg);
}

.skill-img {
    width: 100%;
    float: left;
}

.skill-img img {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    float: left;
}

.skills-boxes h3 {
    color: #fff;
    margin-top: 20px;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 400;
    text-align: center;
}

/* form section start here  */

.form {
    width: 100%;
    float: left;
    padding: 50px 0;
    background: linear-gradient(90deg, #07233B 1.67%, #041D34 39.95%, #04192D 58.24%, #040E18 80.28%, #050C16 101.48%);
}

.form-row {
    width: 100%;
    float: left;
}

.form-top {
    width: 100%;
    float: left;
    background: #072d4e;
    border: 1px solid rgb(7 136 255 / 20%);
    padding: 50px;
    border-radius: 5px 5px 0px 0;
}

.f-top-img {
    width: 30%;
    float: left;
    position: relative;
}

.f-top-img img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #97a1ab;
}

.imggg {
    width: 250px;
    min-height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
}


.f-top-con {
    width: 70%;
    float: right;
}

.f-top-con h5 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.f-top-con p {
    line-height: 25px;
    font-size: 17px;
    color: #fff;
    max-width: 550px;
    opacity: .85;
}

.form-bottom {
    width: 100%;
    background: rgb(7 136 255 / 20%);
    float: left;
    padding: 50px;
    border: 1px solid rgb(7 136 255 / 20%);
    border-radius: 0px 0px 5px 5px;
}

.form-b-l {
    width: 30%;
    float: left;
    padding-top: 150px;
}

.contact-info {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.contact-info span {
    display: block;
    font-size: 12px;
    color: #fff;
    margin: 0 0 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .75;
}

.contact-info a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: .4s;
}

.contact-info a:hover {
    color: #0788FF;
    text-shadow: 0 0 10px #0000005d;
}

.social-media {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

}

.social-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    background: #0788FF;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transition: .4s;
}

.social-media a:hover {
    background: #000;
    transform: translateY(-5px);
    box-shadow: 0 0 10px #a9a9a999;
}

.social-media a i {
    font-size: 20px;
}

.form-b-r {
    width: 70%;
    float: right;
}

.form-b-r form {
    width: 100%;
    float: right;
}

.form-row-inner {
    width: 100%;
    float: left;
    padding: 10px;
}

.form-group {
    width: 50%;
    float: left;
    padding: 10px;
}

.form-group input {
    font-size: 16px;
    width: 100%;
    background: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .15);
    color: #fff;
    line-height: 20px;
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.form-group input:focus-visible {
    outline: none;
}

.form-group label {
    color: #fff;
    margin: 0 0 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .85;
    margin-bottom: 5px;
    display: inline-block;
}

.form-sub {
    width: 100%;
    float: left;
}

.form-sub textarea {
    font-size: 16px;
    width: 100%;
    background: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .15);
    color: #fff;
    line-height: 20px;
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.form-sub textarea:focus-visible {
    outline: none;
}

.form-sub .main-button {
    width: 100%;
    margin: 0;
    margin-top: 10px;
}

/* footer start here  */

footer {
    width: 100%;
    float: left;
    background: linear-gradient(90deg, #07233B 1.67%, #041D34 39.95%, #04192D 58.24%, #040E18 80.28%, #050C16 101.48%);
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 20px 0;
}

.footer-row {
    width: 100%;
    float: left;
}

.footer-row p {
    text-align: center;
    color: #fff;
    font-size: 14px;
}

/* customise scroll-bar--------------->>>> */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #7cc0ff;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #0788FF;
    border-radius: 10px;
}


@media screen and (max-width:992px) {

    .navbar-nav .main-button {
        display: none;
    }

    .banner {
        padding-bottom: 0;
    }

    .banner-row {
        display: flex;
        flex-direction: column;
    }

    .banner-left {
        width: 100%;
    }

    .banner-right {
        width: 100%;
    }

    .b-l-cont h6 {
        font-size: 14px;
    }

    .b-l-cont h1 {
        font-size: 58px;
    }

    .circle-img {
        display: none;
    }

    .b-r-image img {
        height: 100%;
    }

    .nerdy-pen__text {
        font-size: 58px;
    }

    .b-l-cont p {
        font-size: 18px;
    }

    .main-heading h2 {
        font-size: 32px;
    }

    .box-i-inner {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .box-i-inner i {
        font-size: 20px;
    }

    .edu-l-box:before {
        top: 15px;
    }

    .edu-l-box-cont p {
        font-size: 18px;
    }

    .edu-l-box-cont h4 {
        font-size: 22px;
    }

    .edu-l-box-cont span {
        font-size: 16px;
    }

    .about-left {
        width: 100%;
    }

    .about-l-img {
        padding: 0;
    }

    .about-right {
        width: 100%;
        margin-top: 30px;
    }

    .about-r-con {
        padding: 30px;
    }

    .about-us {
        padding: 80px 0;
    }

    .about-r-con h6 {
        font-size: 14px;
    }

    .about-r-con h2 {
        font-size: 42px;
    }

    .main-heading h6 {
        font-size: 14px;
    }

    .project-box {
        width: 50%;
    }

    .skill {
        padding: 80px 0;
    }

    .skills-boxes {
        width: 25%;
    }

    .f-top-con h5 {
        font-size: 32px;
    }

    .imggg {
        display: none;
    }

    .form-b-r {
        width: 100%;
        float: left;
    }

    .f-top-con {
        width: 100%;
    }

    .form-top {
        padding: 30px;
    }

    .form-bottom {
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .form-b-l {
        padding: 20px;
        width: 100%;
        padding-top: 30px;
    }
}

@media screen and (max-width:767px) {

    .header-right {
        text-align: right;
    }

    .navbar-nav {
        width: 0;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        background: #040C16;
        padding: 20px;
        top: 0;
        left: 0;
        z-index: 99999;
        transform-origin: right;
        transition: .6s;
        opacity: 0;
        visibility: hidden;
    }

    .show.navbar-nav {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    .navbar-nav li:first-child {
        border: none;
    }

    .close {
        display: block;
    }

    .open {
        display: inline;
    }

    .b-r-image img {
        object-fit: cover;
    }

    .b-l-cont h1 {
        font-size: 38px;
    }

    .nerdy-pen__text {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .b-l-cont p {
        font-size: 16px;
    }

    .main-button {
        padding: 10px 15px;
    }

    .education-left {
        width: 100%;
    }

    .main-heading h2 {
        font-size: 28px;
    }

    .edu-l-box-cont p {
        font-size: 16px;
    }

    .edu-l-box-cont h4 {
        font-size: 20px;
    }

    .edu-l-box-cont span {
        font-size: 14px;
    }

    .about-r-con h2 {
        font-size: 38px;
        margin-bottom: 10px;
    }


    .about-r-con p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .about-us {
        padding: 50px 0;
    }

    .skills-boxes {
        width: 33%;
        margin-bottom: 40px;
    }

    .f-top-con h5 {
        font-size: 28px;
    }

    .form-group {
        width: 100%;
    }

    .skill {
        padding-bottom: 0;
    }
}

@media screen and (max-width:576px) {

    .b-l-cont h6 {
        letter-spacing: 2px;
    }

    .b-l-cont h1 {
        font-size: 32px;
        margin-top: 10px;
    }

    .nerdy-pen__text {
        font-size: 32px;
    }

    .main-heading {
        margin-bottom: 10px;
    }

    .about-r-con {
        padding: 30px 0;
        padding-bottom: 0;
    }

    .about-r-con h6 {
        letter-spacing: 2px;
    }

    .about-r-con h2 {
        font-size: 32px;
    }

    .main-heading h6 {
        letter-spacing: 2px;
    }

    .project-box {
        width: 100%;
    }

    .skills-boxes {
        width: 50%;
        margin-bottom: 30px;
    }

    .contact-info a {
        font-size: 16px;
    }

    .contact-info {
        margin-bottom: 20px;
    }
}